@model IEnumerable<Hastane.Models.Hasta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.hastaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ad_soyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dogum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.hastaid)
              </td>
            <td>
                @Html.DisplayFor(modelItem => item.tc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ad_soyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dogum)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.hastaid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.hastaid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.hastaid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
